extends ../layouts/app.pug

block content
	.container
		.row.justify-content-center
			.col-12.col-lg-10.col-xl-8
				.mb-5.pb-3
					p
						a.list-item(href=url('posts/categories#show', { name: post.category.name }))= post.category.name
					h1.mt-2.mb-4= post.title
					p
						a.list-item(href=url('posts/users#show', { id: post.author.id }))= post.author.fullName
					.mt-4= post.content
				.d-flex.justify-content-center
					if post.author.id === currentUserId
						.col-6
							a.list-item(href=url('posts#edit', { id: post.id })) Edit post
						.col-6
							a.list-item(href=url('posts#destroy_edit', { id: post.id })) Delete post
