extends ../layouts/app.pug

block submenu
  .container
    h1.display-4.text-center BLOG
    .mt-3.justify-content-center.text-center
      p
        a.text-dark(data-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample') Categories
      #collapseExample.collapse
        .container
          .row.justify-content-center
            .d-flex.justify-content-center.align-items-center.align-content-center
              each category in categories
                .p-2
                  a.list-item(href=url('posts/categories#show', { name: category.name }))= category.name

block content
  .container.my-5.py-5
    .row.justify-content-center
      .col-12.col-lg-10.col-xl-8
        if posts.length > 0
          each post in posts
            .mb-5.pb-5
              p
                a.list-item(href=url('posts/categories#show', { name: post.category.name }))= post.category.name
              h2.mt-2.mb-4
                a.list-item.text-dark(href=url('posts#show', { id: post.id }))= post.title
              p
                a.list-item(href=url('posts/users#show', { id: post.author.id }))= post.author.fullName
              .mt-4
                p= post.annotation
              .mt-4
                a.list-item(href=url('posts#show', { id: post.id })) Read more
        else
          p Пусто
