include ../mixins/forms.pug

doctype html
html(lang='en')
  head
    title Blog
    script(src='/assets/main.js')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.bg-faded
      a.navbar-brand(href=url('root')) Blog
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href=url('root')) Posts
          if isSignedIn()
            li.nav-item
              a.nav-link(href=url('root')) My Posts
            li.nav-item
              a.nav-link(href=url('posts#new')) Add Post
        ul.navbar-nav
          if isSignedIn()
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#")
              .dropdown-menu.dropdown-menu-right
                a.dropdown-item.ml-0(href=url('users#show', { id: currentUserId })) Profile
                a.dropdown-item.ml-0(href=url('account#edit')) Settings
                .dropdown-divider
                a.dropdown-item.ml-0(href=url('sessions#destroy') data-method='delete' rel='nofollow') Sign Out
          else
            li.nav-item
              a.nav-link(href=url('sessions#new')) Sign in
            li.nav-item
              a.nav-link(href=url('users#new')) Sign up
    .container
      .mt-1
        each message in flash
          .alert.alert-dismissible.fade.show(class=`alert-${message.type}` role='alert')= message.message
            button.close(type='button' data-dismiss="alert" aria-label='Close')
              span(aria-hidden='true') &times

    main(role='main')
      .jumbotron.jumbotron-fluid.py-sm-5
        .container
          h1.display-4.text-center BLOG
          .mt-3.justify-content-center.text-center
            p
              a.text-dark(data-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample') Categories
            #collapseExample.collapse
              .container
                .row.justify-content-center
                  .d-flex.justify-content-center.align-items-center.align-content-center
                    if categories
                      each category in categories
                        .p-2
                          a.list-item(href=url('categories#show', { name: category.name }))= category.name
        //- .container.mt-md-5.py-5
      block content
